# Python
venv/
.venv/
gpt-app/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
gpt-app/node_modules/
services/web_front/node_modules/

# IDE/editor
.vscode/
.idea/

# Environment/config
*.env
*.ini
api_key.ini
./youtube_transcripts/*
# Build outputs
dist/
build/
*.log

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# SvelteKit/Vite
.svelte-kit/
.svelte/
coverage/